<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container">
        <a routerLink="/" class="navbar-brand">
            <i class="fa fa-shopping-cart"></i>BigBasket
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="navbar-item navStyle">
                    <a routerLink="/" class="navbar-link">Home</a>
                </li>
                <li class="navbar-item navStyle">
                    <a routerLink="/products/list" class="navbar-link">Products</a>
                </li>
                <li class="navbar-item navStyle">
                    <a routerLink="/products/admin" class="navbar-link">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>