<div class="container mt-2">
    <div class="row">
        <div class="col">
            <p class="h3 text-success">Edit Product</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed maiores culpa sequi
                doloribus quia, itaque eius cum quam iure mollitia architecto sapiente est libero
                facere dolor, error adipisci temporibus laboriosam.</p>
        </div>
    </div>
</div>

<!-- isEmptyField here -->
<div class="container mt-1">
    <div class="row">
        <div class="col-md-4">
            <div *ngIf="isEmptyField" class=" alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Please Fill in the Fields!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container mt-1 p-2" style="background: #c0e9db;border-radius: 5px;">
    <div class="row">
        <div class="col-md-4">
            <form (submit)="submitUpdateProduct()">
                <div class="mb-3">
                    <input name="name" [(ngModel)]="selectedProduct.name" value="selectedProduct.name" type="text"
                        class="form-control" placeholder="Enter Name" />
                </div>
                <div class="mb-3">
                    <input name="image" [(ngModel)]="selectedProduct.image" value="selectedProduct.image" type="text"
                        class="form-control" placeholder="Enter Image Url" />
                </div>
                <div class="mb-3">
                    <input name="price" [(ngModel)]="selectedProduct.price" value="selectedProduct.price" type="text"
                        class="form-control" placeholder="Enter Price" />
                </div>
                <div class="mb-3">
                    <input name="qty" [(ngModel)]="selectedProduct.qty" value="selectedProduct.qty" type="text"
                        class="form-control" placeholder="Enter Qty" />
                </div>
                <div class="mb-3">
                    <textarea name="info" [(ngModel)]="selectedProduct.info" value="selectedProduct.info" rows="4"
                        class="form-control" placeholder="Enter Info Here"></textarea>
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success btn-sm" value="Create" />
                </div>
            </form>
        </div>
    </div>
</div>