<div class="container mt-2">
    <div class="row">
        <div class="col">
            <p class="h3 text-success">Product Display</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed maiores culpa sequi
                doloribus quia, itaque eius cum quam iure mollitia architecto sapiente est libero
                facere dolor, error adipisci temporibus laboriosam.</p>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3" *ngFor="let product of productList; index as i">
            <div class="card shadow">
                <div class="card-header bg-white">
                    <img class="img-fluid" src="{{product.image}}" alt="" />
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Name: <span class="fw-bold" style="font-weight: bold;">{{product.name}}</span>
                        </li>
                        <li class="list-group-item">
                            Price: <span class="fw-bold" style="font-weight: bold;">{{product.price | currency:'INR'}}</span>
                        </li>
                        <li class="list-group-item">
                            Qty: <span class="fw-bold" style="font-weight: bold;">{{product.qty}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>